<div class="container">
  <div>
    <h2><%= @dairy.title %></h2>
    <span class="text-success"><%= @dairy.created_at.to_s(:datetime_jp) %></span>
  </div>
        
  <div>
    <span class="text-muted"><%= simple_format(@dairy.content) %></span>
  </div>      
  <% if current_user == @dairy.user %>
    <%= link_to "削除", @dairy, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
  <% end %>      
        
</div>